.app {
  margin: 0;
  padding: 50px 0 0 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  // border: 2px dotted red;
}

.app-container {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  // border: 2px dotted blue;
}

.app-panel {
  padding: 10px;
  position: relative;
}

/**
 * Loading message
 */

.app-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
}

.app-loading-message {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  width: 10em;
  margin-left: -5em;
  margin-top: 0.5em;
  text-align: center;
}

.app-loading-icon {
  position: absolute;
  left: 50%;
  right: 0;
  bottom: 50%;

  &.icon-loading {
    margin-left: -8px;
  }
}

.icon-loading {
  background: url(/images/loading.gif) no-repeat left top;
  width: 16px;
  height: 16px;
}
