$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

$nav-pills-border-radius: 0;

@import "bootstrap-sass/lib/bootstrap";

@import "app.scss";
@import "tabs.scss";

html, body {
  margin: 0;
  height: 100%;
}

body {
    background: white;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #333;
}

.navbar-brand {
  font-weight: 700;
}


figcaption {
  text-align: center;
  margin: 0.5em 0;
}

.vi-sidenav {
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f5fa;
  border-radius: 5px;
}

.vi-sidenav-list {

  position: absolute;
  top: 143px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  overflow-x: hidden;
  overflow-y: auto;

  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.vi-form-row {
  margin-bottom: 10px;
}

.vi-object-title {
  font-size: 1.2em;
}

.vi-object-info {
  font-weight: bold;
}

.vi-history-time {
  color: #ccc;
  margin-right: 0.5em;
}

/**
 * Animation
 */

.ng-enter {
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}

.ng-enter-active {
  opacity: 1;
}

.ng-leave {
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 1;
}

.ng-leave-active {
  display: none;
}
